/* Header font for Navbar */
.caveat-header {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: beige !important;
}

.nav-item {
    position: relative;
    color: black;
}

.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #11ab00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}